.field-subheader {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 15px;
    max-width: 25pc;
}

.component-content form{

    border: 2px solid var(--secondaryColor);
    border-radius: 3px;
    display: block;
    overflow: hidden;
    padding-right: 130px;
    position: relative;
    width: 100%;
}

.ixm-form input[type=text] {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1pc;
    font-weight: 400;
    height: 60px;
    line-height: normal;
    padding: 10px 30px;
    width: 100%;
}


.ixm-form input[type=submit]{
    background-color: var(--secondaryColor);
    border: 0;
    border-radius: 0;
    color: #001046;
    cursor: pointer;
    font-size: 1pc;
    font-weight: 700;
    height: 100%;
    line-height: normal;
    padding: 20px 26px 19px 27px;
    position: absolute;
    width: -webkit-fill-available;
    top: 0;
}

::placeholder {
    color: white;
    opacity: 1; 
  }